@page "/"
@using ApiContracts
@using BlazorApp12.Services
@inject IPostService HttpsPostService
@inject NavigationManager NavMgr
<AuthorizeView>
    <Authorized>
        <PageTitle>Posts</PageTitle>

        <!-- Logout button -->
        <button @onclick="Logout">Log Out</button>

        <h1>All Posts</h1>

        @if (posts == null)
        {
            <p>Loading posts...</p>
        }
        else if (posts.Any())
        {
            <ul>
                @foreach (var post in posts)
                {
                    <li>
                        <h4>@post.Title</h4>
                        <p>@post.Body</p>
                        <small>By User id: @post.userId</small>
                    </li>
                }
            </ul>
        }
        else
        {
            <p>No posts available.</p>
        }
    </Authorized>
    <NotAuthorized>
        <h1>Please log in to view this content.</h1>
    </NotAuthorized>
</AuthorizeView>

@code {
    private List<PostsDTO>? posts;

    protected override async Task OnInitializedAsync()
    {
        posts = await HttpsPostService.GetMany();
    }


    private void Logout()
    {
        throw new NotImplementedException();
    }

}