@page "/"
@using ApiContracts
@using BlazorApp12.Services
@inject IPostService HttpsPostService
@inject NavigationManager NavMgr




<AuthorizeView>
    <Authorized>
        <h3>Hello, @context.User.Identity.Name</h3>
    </Authorized>
    <NotAuthorized>
        lol you are not logged in!
    </NotAuthorized>
</AuthorizeView>
Here you can browse interesting posts.
<button @onclick='() => NavMgr.NavigateTo("Login")'>go to Login</button>


<PageTitle>Posts</PageTitle>

<h1>All Posts</h1>

@if (posts == null)
{
    <p>Loading posts...</p>
}
else if (posts.Any())
{
    <ul>
        @foreach (var post in posts)
        {
            <li>
                <h4>@post.Title</h4>
                <p>@post.Body</p>
                <small>By User id: @post.userId</small>
            
            </li>
        }
    </ul>
}
else
{
    <p>No posts available.</p>
}

@code {
    private List<PostsDTO>? posts;

    protected override async Task OnInitializedAsync()
    {
        posts = await HttpsPostService.GetMany();
    }
}